node_modules
backup*
package-lock.json
yarn.lock
bun.lockb
.env

# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/debug.log
/wp-content/index.php
/wp-content/cache
/wp-content/languages
/wp-content/upgrade
/wp-content/uploads
/wp-content/plugins/
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Log files
*.log

# Third party
/wp-content/advanced-cache.php
/wp-content/upgrade-temp-backup
/wp-content/wp-rocket-config
/wp-content/wflogs

# htaccess
# /.htaccess
